@model IEnumerable<DAL.Customer>

@{
    ViewBag.Title = "Customer Ajax";
}

<h2>@ViewBag.Title</h2>

<div>
    @using (Ajax.BeginForm("Search", "CustomerAjax",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "Get",
            UpdateTargetId = "divresult"
        }))
    {
        <div class="form-group form-control">
            <input type="text" name="name" />
            <input type="submit" value="Search by AJAX" />
        </div>
    }
</div>

<div id="divresult">No Result</div>
