@model IEnumerable<DAL.Customer>

@{
    ViewBag.Title = "Customer Ajax";
}

<h2>@ViewBag.Title</h2>

<div>
    @using (Ajax.BeginForm("Search", "CustomerAjax",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "Get",
            UpdateTargetId = "divresult"
        }))
    {
        <div class="form-group form-control">
            <input type="text" name="name" />
            <input type="submit" value="Search by AJAX" />
        </div>
    }
</div>

<div id="divresult">No Result</div>

<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Ajax.ActionLink(item.CustomerID, "Search", new { name = item.CompanyName },
               new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "Get",
                   UpdateTargetId = "divdetails"
               })
            </li>
        }
    </ul>
</div>

<div id="divdetails">No Details</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryajax")
}